body{
	background-color: hsl(41, 83%, 82%);
	background-image: url("image10.webp");
	/* opacity: 0.2; */
	background-size: cover;
	position: absolute;
	right: 0px;
	left: 0px;
	font-family: 'Times New Roman', Times, serif, sans-serif;
}
p{
	font-family: Tahoma, sans-serif;
	font-weight:bold;
}
.messages{
	height: 135px;
}

 #displayWord{
	cursor:no-drop;
	border-radius: 15%;
	background-color: hsl(41, 83%, 90%);
	border: none;
 }
 #usedLetters{
	width: 135px;
	cursor:no-drop;
	border-radius: 15%;
	background-color: hsl(41, 83%, 90%);
	border: none;
 }
 


